name: Continuous Integration

on:
  workflow_call:
    inputs:
      dotnet-version:
        type: string
        required: true
      warnings-as-errors:
        type: boolean
        required: false
        default: false
      unit-tests-project:
        type: string
        required: false
        default: ''
      integration-tests-project:
        type: string
        required: false
        default: ''
      build-artifact-name:
        type: string
        required: true
      projects:
        type: string
        required: true
      additional-test-arguments:
        type: string
        required: false
        default: ''
    outputs:
      version:
        value: ${{ jobs.build.outputs.version }}
      should-release:
        value: ${{ jobs.build.outputs.should-release }}
      is-prerelease:
        value: ${{ jobs.build.outputs.is-prerelease }}
      major:
        value: ${{ jobs.build.outputs.major }}
      minor:
        value: ${{ jobs.build.outputs.minor }}
      patch:
        value: ${{ jobs.build.outputs.patch }}


defaults:
  run:
    shell: bash


env:
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages


jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.semver.outputs.version }}
      should-release: ${{ steps.semver.outputs.should-release }}
      is-prerelease: ${{ steps.semver.outputs.is-github-prerelease }}
      major: ${{ steps.semver.outputs.major }}
      minor: ${{ steps.semver.outputs.minor }}
      patch: ${{ steps.semver.outputs.patch }}
    steps:
      - id: semver
        name: Checkout
        uses: EasyDesk/action-semver-checkout@v1
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
          cache: true
          cache-dependency-path: '**/packages.lock.json'
      - name: Build
        uses: EasyDesk/action-dotnet-build@v1
        with:
          warnings-as-errors: ${{ inputs.warnings-as-errors }}
      - name: Run Unit Tests
        uses: EasyDesk/action-dotnet-test@v3
        if: inputs.unit-tests-project != ''
        with:
          test-args: --project "${{ inputs.unit-tests-project }}" ${{ inputs.additional-test-arguments }}
      - name: Run Integration Tests
        uses: EasyDesk/action-dotnet-test@v1
        if: inputs.integration-tests-project != ''
        with:
          test-args: --project "${{ inputs.integration-tests-project }}" ${{ inputs.additional-test-arguments }}
      - name: Create temporary directory
        id: tempdir
        run: |
          echo "tempdir=$(mktemp -d)" >> $GITHUB_OUTPUT
      - name: Publish
        uses: EasyDesk/action-dotnet-publish@v1
        with:
          path: ${{ inputs.projects }}
          output-dir: ${{ steps.tempdir.outputs.tempdir }}
      - uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.build-artifact-name }}
          path: ${{ steps.tempdir.outputs.tempdir }}
