name: Docker Image Continuous Delivery

on:
  workflow_call:
    inputs:
      image-name:
        type: string
        required: false
        default: ${{ github.repository }}
      dockerfile:
        type: string
        required: false
        default: Dockerfile
      stage:
        type: string
        required: false
      build-args:
        type: string
        required: false
      submodules:
        description: >
          true: checkout submodules
          false: don't checkout submodules
          recursive: recursively checkout submodules
        required: false
        default: 'false'
        type: string
      tag-suffix:
        type: string
        required: false
        default: ''
    secrets:
      docker-username:
        required: false
      docker-password:
        required: false
      registry-url:
        required: false


defaults:
  run:
    shell: bash


jobs:
  docker-build:
    name: Build Docker Images
    runs-on: ubuntu-latest
    concurrency:
      cancel-in-progress: false
      group: docker-push-${{ inputs.image-name }}
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    defaults:
      run:
        shell: bash
    permissions:
      packages: write
      contents: write
    env:
      DEFAULT_REGISTRY: localhost:5000
      DEFAULT_DOCKER_USERNAME: ${{ github.repository_owner }}
      DOCKER_BUILD_RECORD_UPLOAD: false
    steps:
      - name: Checkout
        id: semver
        uses: EasyDesk/action-semver-checkout@v1
        with:
          submodules: ${{ inputs.submodules }}
      - name: Login to Docker Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.registry-url || env.DEFAULT_REGISTRY }}
          username: ${{ secrets.docker-username || env.DEFAULT_DOCKER_USERNAME }}
          password: ${{ secrets.docker-password || 'password' }}
      - name: Prepare Suffix
        id: prepare-suffix
        run: |
          if [[ -n "${{ inputs.tag-suffix }}" ]]; then
            echo "tag-suffix=-${{ inputs.tag-suffix }}" >> $GITHUB_OUTPUT
          else
            echo "tag-suffix=" >> $GITHUB_OUTPUT
          fi
      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DEFAULT_REGISTRY }}/${{ secrets.docker-username || env.DEFAULT_DOCKER_USERNAME }}/${{ inputs.image-name }}
            ${{ secrets.registry-url || env.DEFAULT_REGISTRY }}/${{ secrets.docker-username || env.DEFAULT_DOCKER_USERNAME }}/${{ inputs.image-name }}
          tags: |
            type=edge,enable=${{ steps.prepare-suffix.outputs.tag-suffix == '' }}
            type=raw,value=dev${{ steps.prepare-suffix.outputs.tag-suffix }},enable=${{ secrets.registry-url == '' }}
            type=raw,value=${{ steps.semver.outputs.major }}.${{ steps.semver.outputs.minor }}.${{ steps.semver.outputs.patch }}${{ steps.prepare-suffix.outputs.tag-suffix }},enable=${{ steps.semver.outputs.should-release }}
            type=raw,value=${{ steps.semver.outputs.major }}.${{ steps.semver.outputs.minor }}${{ steps.prepare-suffix.outputs.tag-suffix }},enable=${{ steps.semver.outputs.should-release }}
            type=raw,value=${{ steps.semver.outputs.major }}${{ steps.prepare-suffix.outputs.tag-suffix }},enable=${{ steps.semver.outputs.should-release }}
          labels: |
            maintainer=${{ secrets.docker-username || env.DEFAULT_DOCKER_USERNAME }}
            org.opencontainers.image.title=${{ inputs.image-name }}
          flavor: |
            latest=${{ steps.semver.outputs.should-release }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        if : ${{ steps.meta.outputs.tags != '' }}
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          target: ${{ inputs.stage }}
          build-args: ${{ inputs.build-args }}
          no-cache: true
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Inspect
        run: |
          curl -X GET http://localhost:5000/v2/_catalog
