name: Docker Image Continuous Delivery

on:
  workflow_call:
    inputs:
      image-name:
        type: string
        required: false
        default: ${{ github.repository }}
      dockerfile:
        type: string
        required: false
        default: Dockerfile
    secrets:
      docker-username:
        required: false
      docker-password:
        required: true
      registry-url:
        required: false

jobs:
  docker-build:
    name: Build Docker Images
    runs-on: ubuntu-latest
    concurrency:
      cancel-in-progress: false
      group: docker-push-${{ inputs.image-name }}
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    defaults:
      run:
        shell: bash
    permissions:
      packages: write
      contents: write
    env:
      DEFAULT_REGISTRY: localhost:5000
      DEFAULT_DOCKER_USERNAME: ${{ github.repository_owner }}
    steps:
      - name: Checkout
        id: semver
        uses: EasyDesk/action-semver-checkout@v1
      - name: Login to Docker Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.registry-url || env.DEFAULT_REGISTRY }}
          username: ${{ secrets.docker-username || env.DEFAULT_DOCKER_USERNAME }}
          password: ${{ secrets.docker-password }}
      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.DEFAULT_REGISTRY }}/${{ secrets.docker-username || env.DEFAULT_DOCKER_USERNAME }}/${{ inputs.image-name }}
            ${{ secrets.registry-url || env.DEFAULT_REGISTRY }}/${{ secrets.docker-username || env.DEFAULT_DOCKER_USERNAME }}/${{ inputs.image-name }}
          tags: |
            type=edge
            type=raw,value=${{ steps.semver.outputs.major }}.${{ steps.semver.outputs.minor }}.${{ steps.semver.outputs.patch }},enable=${{ steps.semver.outputs.should-release }}
            type=raw,value=${{ steps.semver.outputs.major }}.${{ steps.semver.outputs.minor }},enable=${{ steps.semver.outputs.should-release }}
            type=raw,value=${{ steps.semver.outputs.major }},enable=${{ steps.semver.outputs.should-release }}
          labels: |
            maintainer=${{ secrets.docker-username || env.DEFAULT_DOCKER_USERNAME }}
            org.opencontainers.image.title=${{ inputs.image-name }}
          flavor: |
            latest=${{ steps.semver.outputs.should-release }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        if : ${{ steps.meta.outputs.tags != '' }}
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          no-cache: true
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Inspect
        run: |
          curl -X GET http://localhost:5000/v2/_catalog
