name: Microservice Continuous Integration

on:
  workflow_call:
    inputs:
      dotnet-version:
        type: string
        required: true
      warnings-as-errors:
        type: boolean
        required: false
        default: false
      unit-tests-project:
        type: string
        required: false
        default: ''
      integration-tests-project:
        type: string
        required: false
        default: ''
      additional-test-arguments:
        type: string
        required: false
        default: ''
      artifact-name:
        type: string
        required: false
        default: build-artifacts
      release-prefix:
        type: string
        required: false
        default: ${{ github.repository }}
      main-project:
        type: string
        required: true
      dockerfile:
        type: string
        required: false
      image-name:
        type: string
        required: false
        default: ${{ github.repository }}
      openapi-command:
        type: string
        required: false
        default: ''
      openapi-file:
        type: string
        required: false
        default: 'openapi.json'
      openapi-artifact-name:
        type: string
        required: false
        default: 'openapi'
      submodules:
        description: >
          true: checkout submodules
          false: don't checkout submodules
          recursive: recursively checkout submodules
        required: false
        default: 'false'
        type: string
    secrets:
      registry-url:
        required: false
      docker-password:
        required: false
      docker-username:
        required: false
    outputs:
      version:
        value: ${{ jobs.build.outputs.version }}
      released:
        value: ${{ jobs.release.outputs.released == 'true' }}

jobs:
  build:
    name: Build Microservice
    uses: ./.github/workflows/build.yml
    with:
      submodules: ${{ inputs.submodules }}
      dotnet-version: ${{ inputs.dotnet-version }}
      warnings-as-errors: ${{ inputs.warnings-as-errors }}
      unit-tests-project: ${{ inputs.unit-tests-project }}
      integration-tests-project: ${{ inputs.integration-tests-project }}
      build-artifact-name: ${{ inputs.artifact-name }}
      projects: ${{ inputs.main-project }}
      additional-test-arguments: ${{ inputs.additional-test-arguments }}

  docker-build:
    name: Build Docker Images
    needs: [build]
    if: ${{ inputs.dockerfile != '' }}
    uses: ./.github/workflows/docker-delivery.yml
    with:
      submodules: ${{ inputs.submodules }}
      dockerfile: ${{ inputs.dockerfile }}
      image-name: ${{ inputs.image-name }}
    secrets:
      registry-url: ${{ secrets.registry-url }}
      docker-username: ${{ secrets.docker-username || github.repository_owner }}
      docker-password: ${{ secrets.docker-password }}

  openapi:
    name: Generate OpenAPI Document
    needs: [build]
    if: ${{ inputs.openapi-command != '' }}
    uses: ./.github/workflows/openapi.yml
    with:
      openapi-command: ${{ inputs.openapi-command }}
      project: ${{ inputs.main-project }}
      dotnet-version: ${{ inputs.dotnet-version }}
      output-file: ${{ inputs.openapi-file }}
      build-artifact-name: ${{ inputs.artifact-name }}
      openapi-artifact-name: ${{ inputs.openapi-artifact-name }}

  release:
    name: GitHub Release
    needs: [build, docker-build, openapi]
    if: always() && !failure() && needs.build.outputs.should-release == 'true'
    uses: ./.github/workflows/github-delivery.yml
    with:
      submodules: ${{ inputs.submodules }}
      release-prefix: ${{ inputs.release-prefix }}
